<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="DB2Tables" targetRuntime="MyBatis3Simple">
        <commentGenerator>
            <property name="suppressDate" value="true" />
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <!-- 这个注释是generator的注释。不是建表时手输的，没什么卵用-->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!--数据库链接URL，用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://114.132.175.198/manshow?characterEncoding=utf-8"
                        userId="manshowapp" password="Manshow!123">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>
        <!-- 设置Java类生成的位置 -->
        <javaModelGenerator targetPackage="com.leemanshow.db.entity"
                            targetProject="MAVEN">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- 生成映射文件的包名和位置 ***mapper.xml-->
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="MAVEN">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- 生成DAO的包名和位置 ***mapper.java-->
        <javaClientGenerator targetPackage="com.leemanshow.db.mapper"
                             targetProject="MAVEN" type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- 所有要生成的表名 -->
<!--        <table tableName="report_overview_flow"/>-->
<!--        <table tableName="report_mildstat_flow"/>-->
<!--        <table tableName="goods_sale_flow"/>-->
<!--        <table tableName="manage_channel_info"/>-->
<!--        <table tableName="manage_supply_info"/>-->
<!--        <table tableName="order_main_flow"/>-->
<!--        <table tableName="order_refund_detail"/>-->

<!--        <table tableName="manage_channel_flow"/>-->
<!--        <table tableName="manage_supply_flow"/>-->
<!--        <table tableName="order_refund_flow"/>-->
<!--        <table tableName="spread_h5links_dq"/>-->
<!--        <table tableName="sys_operation_logs"/>-->
<!--        <table tableName="bill_deal_matching_flow"></table>-->
<!--        <table tableName="bill_deal_verify_flow"></table>-->
<!--        <table tableName="bill_nine_funds_flow"></table>-->
<!--        <table tableName="bill_tencent_funds_flow"></table>-->
<!--        <table tableName="system_action_info"></table>-->
<!--        <table tableName="system_role_info"></table>-->
<!--        <table tableName="system_source_info"></table>-->
<!--        <table tableName="system_user_info"></table>-->
<!--        <table tableName="join_channel_site_dq"></table>-->
<!--        <table tableName="join_contract_dq"></table>-->
<!--        <table tableName="goods_sale_dq"></table>-->
<!--        <table tableName="goods_h5_dq"></table>-->
<!--        <table tableName="goods_sale_prices_flow"></table>-->
        <table tableName="cart_info"></table>
        <table tableName="order_info"></table>
        <table tableName="products_info"></table>
    </context>
</generatorConfiguration>