<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leemanshow.manshowshop.products.mapper.ProductsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.leemanshow.manshowshop.products.entity.ProductsInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="supply_id" property="supplyId" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="discount_amount" property="discountAmount" jdbcType="INTEGER" />
    <result column="receivable" property="receivable" jdbcType="INTEGER" />
    <result column="actual_pay" property="actualPay" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from products_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leemanshow.manshowshop.products.entity.ProductsInfo" >
    insert into products_info (id, order_id, sku, 
      product_name, supply_id, price, 
      amount, discount_amount, receivable, 
      actual_pay, status)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{sku,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{supplyId,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{discountAmount,jdbcType=INTEGER}, #{receivable,jdbcType=INTEGER}, 
      #{actualPay,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.leemanshow.manshowshop.products.entity.ProductsInfo" >
    update products_info
    set order_id = #{orderId,jdbcType=INTEGER},
      sku = #{sku,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      supply_id = #{supplyId,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      discount_amount = #{discountAmount,jdbcType=INTEGER},
      receivable = #{receivable,jdbcType=INTEGER},
      actual_pay = #{actualPay,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, order_id, sku, product_name, supply_id, price, amount, discount_amount, 
    receivable, actual_pay, status
    from products_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, order_id, sku, product_name, supply_id, price, amount, discount_amount, 
    receivable, actual_pay, status
    from products_info
  </select>
  <select id="selectList" resultType="com.leemanshow.api.products.vo.GoodsStockVO">
  </select>
</mapper>